# Gender Pay Gap Analysis

## Importing libraries

In [1]:
import pandas as pd
import numpy as np

## Importing dataset

In [5]:
glassdoor = pd.read_csv("data/Glassdoor Gender Pay Gap.csv")
glassdoor.shape

(1000, 9)

In [6]:
glassdoor.head(10)

,JobTitle,Gender,Age,PerfEval,Education,Dept,Seniority,BasePay,Bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319
5,IT,Female,20,5,PhD,Operations,4,70890,10126
6,Graphic Designer,Female,20,5,College,Sales,4,67585,10541
7,Software Engineer,Male,18,4,PhD,Engineering,5,97523,10240
8,Graphic Designer,Female,33,5,High School,Engineering,5,112976,9836
9,Sales Associate,Female,35,5,College,Engineering,5,106524,9941